	.correct-answer {
    color: green;
    }
    .incorrect-answer {
    color: red;
    }	
   
   
/* styles for desktop*/
   @media only screen  and (min-width: 1000px){
	 .sidebar {
	position: fixed;
	width: 10%;
	height: 100vh;
	background: #cce5ef;
	
	font-size: 1em;
	}
	.quiz {
	position: relative;
	width: 87%;
	float: right;
	height: 100vh;
	padding:20px;
	}
	ul{
	list-style-type: none;
	padding: 10px;
	}
	
	ul li {
	color: darkblue;
	margin: 3px;
	}
	
	ul li a{
	display:block;
	text-decoration: none;
	text-align:center;
	}

	button{
	color: darkblue;
	padding:10px;
	border: none;
	background: #cce5ef;
	}

.resultsbutton{
   padding:10px;
   }
   .resultsbutton:hover{
   background-color:#aaa5ef;
      transition: 0.7s;
   }

.button:hover {
      background-color:#aaa5ef;
      transition: 0.7s;
   }
   .navlink:hover {
      background-color:#aaa5ef;
      transition: 0.7s;
   }
	   
   }

/* styles for smartphones and tablets */
   @media only screen  and (max-width: 1000px){
	  .sidebar {
	position: relative;
	width: 100%;
	height: 10vh;
	background: #cce5ef;
	font-size: 1em;
	} 
	.quiz {
	position: relative;
	width: 100%;
	float: left;
	height: 90vh;
	}
	ul{
	list-style-type: none;
	padding: 10px;
display: inline;
	}
	
	ul li {
	color: darkblue;
	margin: 3px;
display: inline;
	}
	
	ul li a{
	display:block;
	text-decoration: none;
	text-align:center;
	}

	
	button{
	color: darkblue;
	padding:10px;
	border: none;
	background: #cce5ef;
	}

.resultsbutton{
display: block;
   width:100%;
height:30px;
 }

 }
   
   
 
 
